<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">Create New Account </ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">

		<h:form>

			<p:panel header="Subscription">
				<p:messages autoUpdate="true" closable="true" />

				<h:panelGrid id="grid" columns="2" cellpadding="5">

					<h:outputLabel for="firstName" value="First Name :"
						style="font-weight:bold" />
					<p:inputText id="firstName" value="#{subscribe.firstName}"
						required="true" label="firstName"
						requiredMessage="Name is required" />

					<h:outputLabel for="lastName" value="Last Name :"
						style="font-weight:bold" />
					<p:inputText id="lastName" value="#{subscribe.lastName}"
						required="true" label="lastName"
						requiredMessage="Last Name is required" />

					<h:outputText value="Email  :" style="font-weight:bold" />
					<p:inputText value="#{subscribe.email}" id="txtemail"
						validatorMessage="Incorrect email">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>

					<h:outputText value="Phone Number" style="font-weight:bold" />
					<p:inputText value="#{subscribe.phoneNumber}" id="PhoneNumber"
						validatorMessage="Incorrect Phone Number" requiredMessage="Phone Number is required" >
						<f:validateRegex pattern="^[0-9]*$" />
					</p:inputText>



					<h:outputLabel for="User Type  : " value="User Type  :"
						style="font-weight:bold" />
					<h:selectOneMenu value="#{subscribe.type}" required="true" validatorMessage="please choose an account type" requiredMessage="please choose an account type">
						<f:selectItem itemLabel="Select One" itemValue=""
							noSelectionOption="true" />
						<f:selectItem itemLabel="Manager" itemValue="m" />
						<f:selectItem itemLabel="Seller" itemValue="s" />
						<f:selectItem itemLabel="Buyer" itemValue="b" />
					</h:selectOneMenu>



					<h:outputLabel for="pwd1" value="Password : *" />
					<p:password id="pwd1" value="#{subscribe.password}"
						match="pwd2" label="" required="true"   requiredMessage="please enter password"/>

					<h:outputLabel for="pwd2" value="Password Confirmation: *" />
					<p:password id="pwd2" value="#{subscribe.password}"
						label="Password Confirmation" required="true"   validatorMessage="No much betwwen password" />
						
				</h:panelGrid>
			</p:panel>





			<p:messages showDetail="true" />
			<p:captcha label="Captcha" validatorMessage="Incorrecte Captcha" requiredMessage="Incorrecte Captcha"/>
			<p:commandButton style="margin-right:10px" value="Subscribe"
				actionListener="#{subscribe.subs()}" ajax="false"
				icon="ui-icon-check" />
		</h:form>

	</ui:define>

</ui:composition>