<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/template.xhtml">

	<ui:define name="title">View and Search Products !</ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="content">
		<div role="main" class="main">

			<div class="home-intro">
				<div class="container">

					<div class="row">
						<div class="col-md-8">
							<p>
								<em>Discover all our great Products !</em> <span>Too many
									products ? Feel free to use our easy and intuitive search
									assistant !</span>
							</p>
						</div>
						<div class="col-md-4">
							<div class="get-started">
								<span id="animationSandbox" style="display: block;"> <a
									class="thumb-info lightbox btn btn-lg btn-primary bounce"
									href="#searchBox">Easy Assistant</a>
								</span>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- BEGIN SEARCH -->
			<div id="searchBox" class="popup-inline-content" align="center">
				<!-- ATTENTION THIS IS THE OFFRE TITLE -->
				<div class="row">
					<h:form id="easySearchForm">
						<div class="col-md-12" align="center">

							<h4>Let me help you find the product your are looking for !</h4>

							<br /> <b><span><em>What are you looking for ? </em></span></b>

							<h:selectOneMenu value="#{productsBean.selectedCategoryId}">
								<f:selectItem itemValue="#{null}"
									itemLabel="-- all categories --" />
								<f:selectItems value="#{productsBean.categories}" var="item"
									itemValue="#{item.categoryId}" itemLabel="#{item.categoryName}" />
								<f:ajax listener="#{productsBean.categoryIsSelected()}"
									render="easySearchForm" />
							</h:selectOneMenu>

							<h:panelGroup id="subcategoryMenuPanel"
								rendered="#{productsBean.selectedCategoryId != null}">
								<br />
								<br />
								<b><span><em>More precisely ? </em></span></b>
								<h:selectOneMenu value="#{productsBean.selectedSubcategoryId}">
									<f:selectItem itemValue="#{null}"
										itemLabel="-- any subcategory --" />
									<f:selectItems value="#{productsBean.subcategories}" var="item"
										itemValue="#{item.subcategoryId}"
										itemLabel="#{item.categoryName}" />
									<f:ajax listener="#{productsBean.subcategoryIsSelected()}"
										render="easySearchForm" />
								</h:selectOneMenu>

							</h:panelGroup>

							<h:panelGroup id="subcategoryAvatar"
								rendered="#{productsBean.selectedSubcategoryId != null}">
								<br />
								<br />
								<h4>Our #{productsBean.focusedSubcategory.categoryName}
									assistant can help you !</h4>
								<br />
								<div class="assistantOuterWrapper" style="width: 80%">
									<div class="assistantInnerWrapper" style="width: 60%">
										<img class="img-responsive" align="center" alt=""
											style="border: 1px solid white; border-radius: 35px;"
											src="#{productsBean.focusedSubcategory.assistantAvatarImage}"></img>
									</div>
									<br />
									<h:panelGroup rendered="#{productsBean.focusedQuestion lt 4}">
										<div style="border: 0px solid green;">

											<h:panelGroup rendered="#{productsBean.focusedQuestion eq 1}">
												<b><p>#{productsBean.question1} ?</p></b>
											</h:panelGroup>

											<h:panelGroup rendered="#{productsBean.focusedQuestion eq 2}">
												<b><p>Excellent ! #{productsBean.question2} ?</p></b>
											</h:panelGroup>

											<h:panelGroup rendered="#{productsBean.focusedQuestion eq 3}">
												<b><p>Okay - one last question :
														#{productsBean.question3} ?</p></b>
											</h:panelGroup>

											<div>
												<h:commandButton style="width:7 em;" value="Yes"
													class="btn btn-primary">
													<f:ajax listener="#{productsBean.yesAnswerIsSelected()}"
														render="easySearchForm" />
												</h:commandButton>
												<span>&#160; &#160; &#160; &#160; </span>
												<h:commandButton style="width:7 em;" value="No"
													class="btn btn-primary">
													<f:ajax listener="#{productsBean.noAnswerIsSelected()}"
														render="easySearchForm" />
												</h:commandButton>
											</div>

										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{productsBean.focusedQuestion eq 4}">
										<div style="border: 0px solid green;">
											<br /> <b><p>Thank you ! Our assistant is searching
													for your product right now !</p></b>
										</div>
									</h:panelGroup>
								</div>
							</h:panelGroup>


							<br /> <br />
							<h:commandButton style="width:15em;" value="Find Products!"
								class="btn btn-primary"
								action="#{productsBean.easySearchSubmit()}" partialSubmit="true"
								ajax="true" render="productsPanel" />

							<br />

						</div>
					</h:form>
				</div>
			</div>
			<!-- END SEARCH -->

			<section class="top">
				<div class="container">
					<h:form id="productsForm">

						<div class="row push-top" id="projects">
							<div class="col-md-12">
								<h:panelGroup id="productsPanel">


									<!-- BEGIN POPUP -->
									<ui:repeat value="#{productsBean.products}" var="item">
										<div id="popupProject-#{item.productId}"
											class="popup-inline-content">
											<!-- ATTENTION THIS IS THE OFFRE TITLE -->
											<h2>#{item.productName}</h2>
											<div class="row">
												<div class="col-md-6">

													<img class="img-thumbnail img-responsive" alt=""
														height="447" width="447" src="#{item.productImage}"></img>
													<!-- 										<h:graphicImage name="/img/projects/project.jpg" -->
													<!-- 											class="img-thumbnail img-responsive" /> -->
												</div>

												<div class="col-md-6">

													<h4>Product Description</h4>
													<p>#{item.productDescription}</p>
													<ul>
														<li><i class="fa fa-check"></i> Product Category : <strong>
																#{item.subcategory.category.categoryName}</strong></li>
														<li><i class="fa fa-check"></i> Product Subcategory :
															<strong> #{item.subcategory.categoryName} </strong></li>
													</ul>

													<h:form
														rendered="#{not empty identityBean.youBayUserfound}">
														<a href="#" class="btn btn-primary"
															onclick="alert('The #{item.productName} was added to cart !');">Buy
															Now</a>
														<span class="arrow hlb"></span>
														<span id="bought"></span>
													</h:form>
													<h:form rendered="#{empty identityBean.youBayUserfound}"
														align="center">
														<br />
														<div align="center">
															<p:button class="btn btn-primary" outcome="/login"
																data-plugin-options='{"type":"inline", preloader: false}'
																value="Login to buy !">
															</p:button>
															<span class="arrow hlb"></span>
														</div>
													</h:form>

													<h4 class="push-top">Product Details :</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Price : <strong>#{item.sellerPrice}
																TND</strong></li>
														<li><i class="fa fa-check"></i> Quantity available :
															#{item.quantityAvailable}</li>
														<li><i class="fa fa-check"></i> Sold by
															#{item.seller.firstName} #{item.seller.lastName} from
															#{item.seller.countryOfResidence}</li>
													</ul>

												</div>
											</div>
										</div>
									</ui:repeat>
									<!-- END POPUP -->

									<h:panelGroup rendered="#{empty productsBean.products}">
										<div align="center">
											<p></p>
											<img src="http://i.imgur.com/2SUayMz.png"></img><br /> <br />
											<br /> <b><p>Sorry, our assistant could not find
													such a specific product (nobody is perfect) !</p></b> <br />
											<p>Please search again with a less specific query =)</p>
										</div>
									</h:panelGroup>

									<div class="owl-carousel owl-carousel-spaced"
										data-plugin-options='{"items": 4}'>

										<!-- START CATALOGUE -->
										<ui:repeat value="#{productsBean.products}" var="item">
											<div>
												<div class="portfolio-item img-thumbnail">
													<a class="thumb-info lightbox"
														href="#popupProject-#{item.productId}"
														data-plugin-optiofns='{"type":"inline", preloader: false}'>

														<img alt="" class="img-responsive"
														src="#{item.productImage}" width="447" height="447"></img>
														<!-- 												<h:graphicImage --> <!-- 													name="#{item.productImage}" width="447" height="447" alt="" -->
														<!-- 													class="img-responsive" /> --> <span
														class="thumb-info-title"> <span
															class="thumb-info-inner">#{item.productName}</span> <span
															class="thumb-info-type">#{item.subcategory.category.categoryName}
																> #{item.subcategory.categoryName}</span>
													</span> <span class="thumb-info-action"> <span
															title="Universal" class="thumb-info-action-icon">
																<i class="fa fa-link"></i>
														</span>
													</span>
													</a>
												</div>
											</div>
										</ui:repeat>
										<!-- END CATALOGUE -->
									</div>


									<!-- START CUSTOM MARKETING -->
									<h:panelGroup
										rendered="#{not empty identityBean.youBayUserfound}">
										<br />
										<br />
										<div align="center">
											<b>You might like these products,
												#{identityBean.youBayUserfound.firstName}
												#{identityBean.youBayUserfound.lastName} !</b> <br /> <br /> <br />
												

									<!-- BEGIN POPUP 2 -->
									<ui:repeat value="#{productsBean.customProducts}" var="item">
										<div id="popupProjectCustom-#{item.productId}"
											class="popup-inline-content">
											<!-- ATTENTION THIS IS THE OFFRE TITLE -->
											<h2>#{item.productName}</h2>
											<div class="row">
												<div class="col-md-6">

													<img class="img-thumbnail img-responsive" alt=""
														height="447" width="447" src="#{item.productImage}"></img>
												</div>

												<div class="col-md-6">

													<h4>Product Description</h4>
													<p>#{item.productDescription}</p>
													<ul>
														<li><i class="fa fa-check"></i> Product Category : <strong>
																#{item.subcategory.category.categoryName}</strong></li>
														<li><i class="fa fa-check"></i> Product Subcategory :
															<strong> #{item.subcategory.categoryName} </strong></li>
													</ul>

													<h:form
														rendered="#{not empty identityBean.youBayUserfound}">
														<a href="#" class="btn btn-primary"
															onclick="alert('The #{item.productName} was added to cart !');">Buy
															Now</a>
														<span class="arrow hlb"></span>
														<span id="bought"></span>
													</h:form>
													<h:form rendered="#{empty identityBean.youBayUserfound}"
														align="center">
														<br />
														<div align="center">
															<p:button class="btn btn-primary" outcome="/login"
																data-plugin-options='{"type":"inline", preloader: false}'
																value="Login to buy !">
															</p:button>
															<span class="arrow hlb"></span>
														</div>
													</h:form>

													<h4 class="push-top">Product Details :</h4>

													<ul class="list icons list-unstyled">
														<li><i class="fa fa-check"></i> Price : <strong>#{item.sellerPrice}
																TND</strong></li>
														<li><i class="fa fa-check"></i> Quantity available :
															#{item.quantityAvailable}</li>
														<li><i class="fa fa-check"></i> Sold by
															#{item.seller.firstName} #{item.seller.lastName} from
															#{item.seller.countryOfResidence}</li>
													</ul>

												</div>
											</div>
										</div>
									</ui:repeat>
									<!-- END POPUP 2 -->												
												
											<ui:repeat value="#{productsBean.customProducts}" var="item">
												<div>
													<div class="portfolio-item img-thumbnail">
														<a class="thumb-info lightbox"
															href="#popupProjectCustom-#{item.productId}"
															data-plugin-optiofns='{"type":"inline", preloader: false}'>

															<img alt="" class="img-responsive"
															src="#{item.productImage}" width="447" height="447"></img>
															<!-- 												<h:graphicImage --> <!-- 													name="#{item.productImage}" width="447" height="447" alt="" -->
															<!-- 													class="img-responsive" /> --> <span
															class="thumb-info-title"> <span
																class="thumb-info-inner">#{item.productName}</span> <span
																class="thumb-info-type">#{item.subcategory.category.categoryName}
																	> #{item.subcategory.categoryName}</span>
														</span> <span class="thumb-info-action"> <span
																title="Universal" class="thumb-info-action-icon">
																	<i class="fa fa-link"></i>
															</span>
														</span>
														</a>
													</div>
												</div>
											</ui:repeat>
										</div>
									</h:panelGroup>

									<!-- ENDCUSTOM MARKETING -->
								</h:panelGroup>
							</div>
						</div>

					</h:form>

					<hr class="tall" />

				</div>
			</section>

		</div>
	</ui:define>

</ui:composition>