<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://xmlns.jcp.org/jsf/html" 
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"  
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:p="http://primefaces.org/ui"
	>
			<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="footer-ribbon">
					<span>Get in Touch</span>
				</div>
				<div class="col-md-3">
					<div class="newsletter">
						<h4>Newsletter</h4>
						<p>Keep up on our always evolving product features and
							technology. Enter your e-mail and subscribe to our newsletter.</p>

						<div class="alert alert-success hidden" id="newsletterSuccess">
							<strong>Success!</strong> You've been added to our email list.
						</div>

						<div class="alert alert-danger hidden" id="newsletterError"></div>

						<form id="newsletterForm" action="php/newsletter-subscribe.php"
							method="">
							<div class="input-group">
								<input class="form-control" placeholder="Email Address"
									name="newsletterEmail" id="newsletterEmail" type="text"></input>
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Go!</button>
								</span>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-3">
					<h4>Latest Tweets</h4>
					<div id="tweet" class="twitter" data-plugin-tweets=""
						data-plugin-options='{"username": "", "count": 2}'>
						<p>Please wait...</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="contact-details">
						<h4>Contact Us</h4>
						<ul class="contact">
							<li><p>
									<i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234
									Street Name, City Name, United States
								</p></li>
							<li><p>
									<i class="fa fa-phone"></i> <strong>Phone:</strong> (123)
									456-7890
								</p></li>
							<li><p>
									<i class="fa fa-envelope"></i> <strong>Email:</strong> <a
										href="mailto:mail@example.com">mail@example.com</a>
								</p></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<h4>Follow Us</h4>
					<div class="social-icons">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/"
								target="_blank" data-placement="bottom" data-tooltip=""
								title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="http://www.twitter.com/"
								target="_blank" data-placement="bottom" data-tooltip=""
								title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/"
								target="_blank" data-placement="bottom" data-tooltip=""
								title="Linkedin">Linkedin</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-1">
						<a href="index.html" class="logo"> <!-- 				<img alt="Porto Website Template" class="img-responsive" 	src="img/logo-footer.png"> -->

							<h:graphicImage name="/img/logo-footer.png"
								class="img-responsive" alt="Porto Website Template" />

						</a>
					</div>
					<div class="col-md-7">
						<p>© Copyright 2015. All Rights Reserved.</p>
					</div>
					<div class="col-md-4">
						<nav id="sub-menu">
						<ul>
							<li><a href="page-faq.html">FAQ's</a></li>
							<li><a href="sitemap.html">Sitemap</a></li>
							<li><a href="contact-us.html">Contact</a></li>
						</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
		</footer>
</ui:composition>
