<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:jsf="http://xmlns.jcp.org/jsf" xmlns:p="http://primefaces.org/ui">
	<header id="header">
	<div class="container">
		<div class="logo">
			<!-- ATTENTION Open -->
			<!-- Le Logo en haut à gauche -->
			<!-- 				<a href="index.html"> <img alt="Porto" width="111" height="54" 	data-sticky-width="82" data-sticky-height="40" src="img/logo.png"></a> -->

			<h:graphicImage name="/img/logo.png" alt="Porto" width="111" height="54" 	data-sticky-width="82" data-sticky-height="40" />
			<!-- ATTENTION Close-->

			<!-- ATTENTION Open -->
			<!-- Le Formulaire de recherche est statique+ page-search-results.html a redefinir -->
			<!-- Page About Us et Contact Us redefinir -->
		</div>
<!-- 		<div class="search"> -->
<!-- 			<form id="searchForm" action="page-search-results.html" method="get"> -->
<!-- 				<div class="input-group"> -->
<!-- 					<input type="text" class="form-control search" name="q" id="q" -->
<!-- 						placeholder="Search..." required=""></input> <span -->
<!-- 						class="input-group-btn"> -->
<!-- 						<button class="btn btn-default" type="submit"> -->
<!-- 							<i class="fa fa-search"></i> -->
<!-- 						</button> -->
<!-- 					</span> -->
<!-- 				</div> -->
<!-- 			</form> -->
<!-- 		</div> -->
		<nav> <nav> <h:form
			rendered="#{not empty identityBean.youBayUserfound}">

			<h:outputText value="Log in as " />
			<h:outputText value="#{identityBean.youBayUserfound.email}" />
			<p:commandButton action="#{authentification.doLogout}" value="Logout"
				ajax="false" />




		</h:form> <h:form rendered="#{empty identityBean.youBayUserfound}">
			<ul class="nav nav-pills nav-top">


				<li><p:link outcome="/createnewaccount"
						data-plugin-options='{"type":"inline", preloader: false}'
						value="Create New Account">
						<i class="fa fa-angle-right"></i>


					</p:link></li>
				<li><p:link outcome="/login"
						data-plugin-options='{"type":"inline", preloader: false}'
						value="Login">
						<i class="fa fa-angle-right"></i>


					</p:link></li>


			</ul>




		</h:form> </nav> </nav>

		<!-- ATTENTION Close-->


		<!-- Responsive  -->
		<button class="btn btn-responsive-nav btn-inverse"
			data-toggle="collapse" data-target=".nav-main-collapse">
			<i class="fa fa-bars"></i>
		</button>
	</div>
	<div class="navbar-collapse nav-main-collapse collapse">
		<ui:insert name="menu">

			<div class="container">
				<ul class="social-icons">
					<li class="facebook"><a href="http://www.facebook.com/"
						target="_blank" title="Facebook">Facebook</a></li>
					<li class="twitter"><a href="http://www.twitter.com/"
						target="_blank" title="Twitter">Twitter</a></li>
					<li class="linkedin"><a href="http://www.linkedin.com/"
						target="_blank" title="Linkedin">Linkedin</a></li>
				</ul>
				<nav class="nav-main mega-menu">
				<ul class="nav nav-pills nav-main" id="mainMenu">




					<!-- ATTENTION MENU START -->
					<li class="dropdown active"><a class="dropdown-toggle"
						href="index.html"> Home <i class="fa fa-angle-down"></i>
					</a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Home - Default</a></li>
							<li><a href="index-1.html">Home - Corporate <span
									class="tip">hot</span></a></li>
							<li><a href="index-2.html">Home - Color</a></li>
							<li><a href="index-3.html">Home - Light</a></li>
							<li><a href="index-4.html">Home - Video</a></li>
							<li><a href="index-5.html">Home - Video - Light</a></li>
							<li><a href="index-one-page.html">One Page Website</a></li>
							<li class="dropdown-submenu"><a href="#">Sliders</a>
								<ul class="dropdown-menu">
									<li><a href="index.html">Revolution Slider</a></li>
									<li><a href="index-slider-2.html">Nivo Slider</a></li>
								</ul></li>
						</ul></li>
					<li><a href="shortcodes.html">Shortcodes</a></li>
					<li class="dropdown"><a class="dropdown-toggle" href="#">
							About Us <i class="fa fa-angle-down"></i>
					</a>
						<ul class="dropdown-menu">
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="about-us-basic.html">About Us - Basic</a></li>
							<li><a href="about-me.html">About Me</a></li>
						</ul></li>

					<li class="dropdown"><a class="dropdown-toggle" href="#">
							Portfolio <i class="fa fa-angle-down"></i>
					</a>
						<ul class="dropdown-menu">
							<li><a href="portfolio-4-columns.html">4 Columns</a></li>
							<li><a href="portfolio-3-columns.html">3 Columns</a></li>
							<li><a href="portfolio-2-columns.html">2 Columns</a></li>
							<li><a href="portfolio-lightbox.html">Portfolio Lightbox</a></li>
							<li><a href="portfolio-timeline.html">Portfolio Timeline</a></li>
							<li><a href="portfolio-full-width.html">Portfolio Full
									Width</a></li>
							<li><a href="portfolio-single-project.html">Single
									Project</a></li>
						</ul></li>

					<li class="dropdown"><a class="dropdown-toggle" href="#">
							Contact Us <i class="fa fa-angle-down"></i>
					</a>
						<ul class="dropdown-menu">
							<li><a href="contact-us.html">Contact Us - Basic</a></li>
							<li><a href="contact-us-advanced.php">Contact Us -
									Advanced</a></li>
						</ul></li>
				</ul>
				<!-- ATTENTION MENU FIN --> </nav>
			</div>
		</ui:insert>
	</div>
	</header>
</ui:composition>
